body {
  text-align: center;
}

textarea {
  width: 32%;
  min-height: 250px;
  overflow: scroll;
  margin: auto;
  color: white;
  display: inline-block;
  background: #151520;
  outline: none;
  font-family: Courier, sans-serif;
  font-size: 14px;
}

iframe {
  bottom: 0;
  position: relative;
  width: 100%;
  height: 37em;
}